h1 

      { 
        color:orange ; 
      }


h5 {       
            position:absolute;
            left:150px;
            top:100px;
         }
  
h6 {
             position:absolute;
             left:530px;
             top:115px;
             }

h7 {
             position:absolute;
             left:510px;
             top:87px;
             }